#body {
	font-family: "Open Sans", sans-serif;

	background-image: url("https://4.bp.blogspot.com/-11F0Lc7iOV0/VrzoCsSD3pI/AAAAAAAArU0/IrlNu-SUh0I/s1600/10733984_302352596620579_5479855090071893754_n.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: 1;
	background-color: rgba(255,255,255,0.5);
	background-blend-mode: overlay;
}


h1 {
	display: block;
	font-size: 44px;
	padding: 20px;
}

h2 {
	display: block;
	font-size: 20px;
	padding: 10px;
}
article {
	text-align: center;
}



.first {
	display: block;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	margin: 100px 0px 0px 300px;
	padding: 20px;
	height: 500px;
	width: 450px;
}

section ul{
	list-style-type: none;
}

.footer{
  font-family: 'Open Sans';
  text-align: center;
  height: 250px;
  margin-top: -100px;
}

.footer p{
  color: #000000;
  text-align: center;
  padding-top: 210px;
  margin-bottom: 0px;
  margin-left: 500px;
  font-family: 'Open Sans';
  height: 50px;
  width: 400px;
}

.footer > p > a{
  color: #000000;
}
