body{
    background-color:#DAEDFF;
}

#he{
  color:black;
  font-size:44;
font-family:'Open Sans Condensed', sans-serif;
  background-color:#1B99EB;
}

#na{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B99E8;
}

.nl {
    float: left;
}

li a, .dropbtn  {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #1468A8;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DAEDFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #DAEDFF}

.dropdown:hover .dropdown-content {
    display: block;
}

h3{
  border-style: groove;
  border-color: #BADA55;
  background-color: #1B99E8;
}

h4{
  border-style: dashed;
  border-color:#BADA55;
  background-color:#AFCBE0;
}

iframe{
  left:200px;
}
