#body{
    background-color:#DAEDFF;
    font-family: 'Open Sans'
}

h2{
  margin: 20px 30px 20px 30px;
}


h3{
  border-style: groove;
  border-color: #BADA55;
  background-color: #1B99E8;
  height: 40px;
}

h4{
  border-style: dashed;
  border-color:#BADA55;
  background-color:#AFCBE0;
  height: 30px;
}

iframe{
  left:200px;
}

p{
  margin-left: 30px;
}

#navigation{
    background-color:#DAEDFF;
}

#body{
  background-color: #E3F2FD;
}


.footer{
  font-family: 'Open Sans';
  text-align: center;
  height: 250px;
  margin-top: 100px;
}

.footer #footerrow{
  color: #1b99e8;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Open Sans';
}

.col-md-6{
  color: #1b99e8;
}
