#body{
    background-color:#DAEDFF;
    font-family: 'Open Sans'
}

h2{
  margin: 20px 30px 20px 30px;
}


h3{
  border-style: groove;
  border-color: #BADA55;
  background-color: #1B99E8;
}

h4{
  border-style: dashed;
  border-color:#BADA55;
  background-color:#AFCBE0;
}

iframe{
  left:200px;
}

p{
  margin-left: 30px;
}

.footer{
  font-family: 'Open Sans';
  text-align: center;
  height: 250px;
  margin-top: -200px;
}

.footer p{
  color: #000000;
  text-align: center;
  padding-top: 210px;
  margin-bottom: 0px;
  margin-left: 500px;
  font-family: 'Open Sans';
  height: 50px;
  width: 400px;
}

.footer > p > a{
  color: #000000;
}
