#body{
    background-color:#DAEDFF;
    font-family: 'Open Sans'
}

.footer{
  font-family: 'Open Sans';
  text-align: center;
  height: 250px;
  margin-top: -200px;
}

.footer p{
  color: #000000;
  text-align: center;
  padding-top: 210px;
  margin-bottom: 0px;
  margin-left: 500px;
  font-family: 'Open Sans';
  height: 50px;
  width: 400px;
}

.footer > p > a{
  color: #000000;
}

#sear{
  margin: 40px;
}
