#navigation{
    background-color:#DAEDFF;
}

#body{
  background-color: #E3F2FD;
  font-family: 'Open Sans';
}

#game{
  color: orange;
  text-align: center;
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 80px;
}

#image{
  width: 550px;
  margin-left: 420px;
  margin-top: 100px;
}

img{
  width: 600px;
}


.footer{
  font-family: 'Open Sans';
  text-align: center;
  height: 250px;
}

.footer #footerrow{
  color: #1b99e8;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Open Sans';
}

.col-md-6{
  color: #1b99e8;
}
