#body {
	font-family: "Open Sans", sans-serif;

	background-color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: 1;
	background-color: rgba(255,255,255,0.3);
	background-blend-mode: overlay;
}

img {
	position: relative;
	width: 100%;
}

#navigation{
    background-color:#DAEDFF;
}


.footer{
	margin-top: 100px;
  font-family: 'Open Sans';
  text-align: center;
  height: 250px;
}

.footer #footerrow{
  color: #1b99e8;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Open Sans';
}

.col-md-6{
  color: #1b99e8;
}
